$mainFontFamily: 'Poppins',
sans-serif;

$navbarSearchInputBg: #f3f3f3;
$navbarLinkColor: #000;
$navbarLinkHoverColor: #3e976c;
$navbarButtonColor: #000;
$navbarBadgeBgColor: #bdefd6;
$navbarBadgeColor: #3e976c;
$navbarBgColor: rgb(255, 255, 255, 0.8);
$navbarMoveBoxShadow: #0000001a;

$sliderDotBgColor:#bdefd6;
$sliderDotBgActive: #3e976c;

$productBoxButtonBgColor: #fff;
$productBoxButtonBgHoverColor: #3e976c;
$productBoxButtonFontColor: #000;
$productBoxButtonFontHoverColor: #fff;
$productBoxTitleFontColor: #7a7a7a;
$productBoxRatingColor: #f2b03d;

$blogBgColor: #F9F9F9;
$blogPostBgColor: #fff;
$blogPostCategoryFontColor: #d2d2d2;
$blogPostDescFontColor: #999;
$blogPostTitleFontColor: #000;